[Desktop Entry]
Encoding=UTF-8
Name=Link to LETI2020 – Google Диск
Type=Link
URL=https://drive.google.com/drive/folders/162csyjFEjn0irYu3Hi4ZOUu8UWhcNA3x
Icon=text-html
