[Desktop Entry]
Encoding=UTF-8
Name=Link to JAkutenshi/spbetu_os_2020_8383: Study repository for spring 2020 OS course, group 7383
Type=Link
URL=https://github.com/JAkutenshi/spbetu_os_2020_8383
Icon=text-html
