[Desktop Entry]
Encoding=UTF-8
Name=Link to ПиАА - Google Таблицы
Type=Link
URL=https://docs.google.com/spreadsheets/d/1rd9oK_DgpqafM9UpUF9Q4qP7XnDvBSksjTO-KJTEbJQ/edit#gid=0
Icon=text-html
